@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&family=Padauk:wght@400;700&family=Rubik:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Oxanium', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
